.cache/
.mixin.out/
.probe/
.sable/
.vscode/
cache/
crash-reports/
debug/
downloads/
local/
logs/
nodes/
patchouli_books/
PCL/
saves/
tlm_custom_pack/
xaero/
XaeroWaypoints_BACKUP*/
command_history.txt
observable_announce
patchouli_data.json
ponders_watched.json
usercache.json
usernamecache.json
